.info_tommorow {
    font-size: 24%;
    font-family: EB Garamond;
    font-weight: 400;
}
.contact_tommorow {
    height: 615px;
}
.bg-grey {
	background: #F8F9FB;
}
.position_title {
	position: relative;
	right: 15px;
}
.title {
    font-size: 19%;
    font-family: Eb Garamond;
    font-weight: 400;
}
.title_content {
	font-size: 15%;
	font-family: Lato;
	font-weight: 300;
}
.hr_style {
	width: 17px;
}
.paras {
	font-size: 17%;
	font-family: Lato;
	font-weight: 300
}
.tommorow  {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.founder_head_topic {
	font-size: 35%;
	font-family: EB Garamond;
	font-weight: 400;
}
.founders {
    height: 90px;
    display: flex;
    justify-content: center;
}
.width_founder {
	cursor: pointer;
	width: 50%;
	background: #F8F9FB;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.meet {
	font-size: 16%;
	font-family: Lato;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.para_meet {
	height: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.meet_border {
	border-left: 0.5px solid #9D9D9C;
	border-right: 0.5px solid #9D9D9C;
}
.height_grey {
    height: 453px;
}
@media (max-width: 1450px) {
	.tommorow {
	    height: 500px;
	}
	.height_grey {
		height: 362px;
	}
	.width_founder {
		width: 65%;
	}
	.contact_tommorow {
		height: 525px;
	}
	.paras {
		font-size: 15%;
		font-family: Lato;
		font-weight: 300;
	}
}
@media (max-width: 1290px) {
	.contact_tommorow {
		height: 480px;
	}
	.height_grey {
		height: 325px;
	}
}
@media (max-width: 1200px) {
	.tommorow {
	    height: 450px;
	}
	.width_founder {
	    width: 60%;
	}
	.height_grey {
		height: 365px;
	}
	.contact_tommorow {
	    height: 465px;
	}
}
@media (max-width: 992px) {
	.tommorow {
		height: 350px;
	}
	.height_grey {
		height: 300px;
	}
	.width_founder {
	    width: 70%;
	}
	.founders {
    	height: 70px;
    }
    .contact_tommorow {
	    height: 375px;
	}
}
@media (max-width: 768px) {
	.width_founder {
	    width: 80%;
	}
	.tommorow {
		height: 300px;
	}
	.founders {
    	height: 60px;
    }
    .contact_tommorow {
	    height: 324px;
	}
}