.contact {
    font-family: EB Garamond; 
    font-size: 100px;
}
.offset-md-6 {
    margin-left: 52.5%;
}
.arrowpad {
    padding-right: 2rem;
}
.Arrows {
    display: flex;
    justify-content: right;
}
.arrow {
    margin-top: -144px;
    cursor: pointer;
    height: 8px;
}
.carousel_head {
    height: 50px;
}
.cl-grey {
    color: #232323;
    line-height: 33px;
    font-family: lato;
}
.cl_carousel_topic {
    color: #9D9D9C;
    font-size: 20%;
    font-family: lato;
    font-weight: 400;
    color: #9D9D9C;
    font-family: Lato;
    letter-spacing: 0.1em;
}
.border_carousel {
    width: 100px;
    margin-top: 12px;
}
.l_h {
    line-height: 24px;
}
.mid {
    font-family: EB Garamond;
    height: 350px;
}
.info {
    background-color: #F8F9FB;
}
.image {
    width: 100%;
    max-height: 100%;
    min-height: 100%;
}
.react-multi-carousel-list {
    height: 750px;
}
.left_arrow {
    background: no-repeat;
    border: none;
    position: relative;
    left: 1092px;
    max-height: 50px;
    overflow: hidden;
    top: -49px;
    width: 100px;
}
.ok{
    position: absolute;
    left: -15px;
    /* border: 2px solid black; */
    top: 8px;
    z-index: 1000;
}
.ok2 {
    position: absolute;
    left: 1200px;
    max-height: 50px;
    width: 50px;
    top: 12px;
    z-index: 1000;
    border: none;
    background: no-repeat;
    overflow: hidden;
}
.enter_email {
    font-size: 16%;
    font-weight: 300;
    vertical-align: top;
    border-radius: 0px;
    border: none;
}
.info_content2 {
    font-size: 18%;
    font-family: lato;
    font-weight: 300;
}
.info_content {
    font-size: 19%;
    font-family: lato;
    font-weight: 300;
}
.small_content {
    font-size: 16%;
    font-family: lato;
}
.coperate {
    font-family: EB Garamond; 
    font-size: 48%;
}
.head_project {
    font-family: EB Garamond;
    font-size: 25%
}
@media (max-width: 1550px) {
    .ok2 {
        left: 1055px;
    }
    .left_arrow {
        left: 940px;
    }
}
@media (max-width: 1450px) {
    .contact {
        height: 480px;
    }
    .ok2 {
        left: 910px;
    }
    .left_arrow {
        left: 795px;
    }
    .react-multi-carousel-list {
        height: 650px;
    }
    .info_content2 {
        font-size: 15%;
        font-family: lato;
        font-weight: 300;
    }
    .coperate {
        font-family: EB Garamond;
        font-size: 35%;
    }
    .contact {
        height: 450px;
    }
}
@media (max-width:1290px) {
    .info_content2 {
        font-size: 14%;
        font-family: lato;
        font-weight: 300;
    }
    .coperate {
        font-family: EB Garamond;
        font-size: 35%;
    }
    .contact {
        height: 420px;
    }
    .arrowpad {
        padding-right: 2.4rem !important;
    }
    .left_arrow {
        left: 705px;
        overflow: inherit;
        top: -44px;
    }
    .react-multi-carousel-list {
        height: 600px;
    }
    .ok2 {
        left: 813px;
        overflow: initial;
    }
}
@media (max-width:  1199px){
    .left_arrow {
        left: 740px;
        overflow: inherit;
        top: -36px;
    }
    .react-multi-carousel-list {
        height: 500px;
    }
}
@media (max-width: 992px) {
    .contact {
        font-size: 70px;
        height: 330px;
    }
    .react-multi-carousel-list {
        height: 520px;
    }
    .left_arrow {
        left: 595px;
        overflow: inherit;
        top: -1.2px;
    }
    .ok2 {
        left: 655px;
        overflow: initial;
        top: 35px;
    }
    .cl-grey {
        line-height: 28px;
    }
    .arrowpad {
        padding-right: 2.9rem !important;
    }
    .mid {
        font-family: EB Garamond;
        height: 255px;
    }
    .info_content2 {
        font-size: 18%;
        font-family: lato;
        font-weight: 300;
    }
    .l_h {
        line-height: 20px;
    }
}
@media (max-width: 768px) {
    .react-multi-carousel-list {
        height: 380px;
    }
    .height_grey {
        height: 225px;
    }
    .contact {
        font-size: 60px;
        height: 235px;
    }
    .ok2 {
        left: 470px;
        overflow: initial;
        top: 41px;
    }
    .mid {
        font-family: EB Garamond;
        height: 265px;
    }
    .contact_tommorow {
        height: 270px;
    }
    .left_arrow {
        left: 415px;
        overflow: inherit;
        top: 4.8px;
    }
}
@media (max-width: 576px) {
    .contact {
        font-size: 50px;
        height: 237px;
    }
}
