.presence {
    height: max-content;
}
.grey_box {
    height: 150px;
    background: #F8F9FB;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.founder_heading {
    font-family: EB Garamond;
    font-weight: normal;
    font-size: 28%;
}
.presence_places {
    font-size: 20%;
}

.flex_founder_head {
    display: flex;
    flex-direction: column;
    /*position: relative;
    top: 100px;*/
}
.founder_para {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18%;
    text-align: left;
}
.founder_title {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14%;
    line-height: 100%;
}
.founder_head {
    height: 1000px;
    display: flex;
    align-items: center;
}
.w-96 {
    width: 100% !important;
}
.h-93 {
    height: 88% !important;
}
.w-92 {
    width: 92%!important;
}
@media (max-width:1550px) {
    .founder_head {
        height: 900px;
    }
    .h-93 {
        height: 89% !important;
    }
}
@media (max-width:1450px) {
    .founder_head {
        height: 600px;
}
    /*.flex_founder_head {
        top: 80px;
    }*/
    .h-93 {
        height: 90% !important;
    }
}
@media (max-width:1290px) {
    .h-93 {
        height: 91% !important;
    }
    .grey_box {
        height: 100px;
        background: #F8F9FB;
        border-radius: 5px;
    }
    /*.flex_founder_head {
        top: 60px;
    }*/
}
@media (max-width: 992px) {
    .founder_head {
        height: 450px;
    }
    .grey_box {
        height: 80px;
        background: #F8F9FB;
        border-radius: 5px;
    }
    /*.flex_founder_head {
        top: 75px;
    }*/
}