body {
    overflow-x: hidden;
}
.t-l {
    text-align: left;
}
.fz{
    font-size: 100px;
}
.h-88 {
    height: 88% !important;
}
.text-center {
    text-align: center;
}
.pointer_cursor {
    cursor: pointer;
}
.w-max-100 {
    max-width: 100% !important;
}
button:focus {
    outline: none;
}
.flex-100 {
    height: 100%;
    display: flex;
}
.mt-0_8 {
    margin-top: 0.8rem;
}
.pt-7 {
    padding-top: 5rem !important;
}
.flex-coloumn-vc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg-white {
    background-color: white;
}
.flex-row-vc {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-row-hc-vc{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 1440px) {
    .fz {
        font-size: 98px;
    }
}
@media (max-width: 1290px) {
    .fz {
        font-size: 85px !important;
    }
}

@media (max-width: 992px) {
    .fz {
        font-size: 65px !important;
    }
    .pt-7 {
        padding-top: 3rem !important;
    }
}
@media (max-width: 768px) {
    .fz {
        font-size: 55px !important;
    }
    .pt-7 {
        padding-top: 2rem !important;
    }
}
@media (max-width: 576px) {
    .fz {
        font-size: 45px !important;
    }
    .pt-7 {
        padding-top: 1rem !important;
    }
}
@media (min-width: 1551px) {
    .contain, .container, .container-lg, .container-md, .container-sm {
        max-width: 1300px !important; 
    }
}
@media (max-width: 1550px) {
    .contain, .container, .container-lg, .container-md, .container-sm {
        max-width: 1150px !important; 
    }
}
@media (max-width: 1450px) {
    .contain, .container, .container-lg, .container-md, .container-sm {
        max-width: 1000px !important; 
    }
}
@media (max-width:1290px) {
    .contain, .container, .container-lg, .container-md, .container-sm {
        max-width: 900px !important; 
    }
}
@media (min-width: 1201px) {
    .my-xl-2_5 {
        margin-top: .40rem !important;
        margin-bottom: .6rem !important;
    }
}
@media (max-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 750px !important;
    }
}
@media (max-width: 768px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 555px !important;
    }
}