body {
    overflow-x: hidden;
}
.fz{
    font-size: 100px;
}
.h-88 {
    height: 88% !important;
}
.text-center {
    text-align: center;
}
.pointer_cursor {
    cursor: pointer;
}
.w-max-100 {
    max-width: 100% !important;
}
button:focus {
    outline: none;
}
.flex-100 {
    height: 100%;
    display: flex;
}
.mt-0_8 {
    margin-top: 0.8rem;
}
.pt-7 {
    padding-top: 5rem !important;
}
.flex-coloumn-vc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row-vc {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-row-hc-vc{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 1500px) {
    .fz {
        font-size: 92px;
    }
}
@media (min-width: 1201px) {
    .my-xl-2_5 {
        margin-top: .75rem !important;
        margin-bottom: .75rem !important;
    }
}
@media (max-width: 1200px) {
    .fz {
        font-size: 85px;
    }
}
@media (max-width: 992px) {
    .fz {
        font-size: 70px;
    }
    .pt-7 {
        padding-top: 3rem !important;
    }
}
@media (max-width: 768px) {
    .fz {
        font-size: 60px;
    }
    .pt-7 {
        padding-top: 2rem !important;
    }
}
@media (max-width: 576px) {
    .fz {
        font-size: 50px;
    }
    .pt-7 {
        padding-top: 1rem !important;
    }
}
